[build]
  base = "client"
  command = "npm install --include=dev && npm run build:client"
  publish = "dist/spa"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
