[build]
  # 1. Start everything from the client folder
  base = "client"

  # 2. Run the build command
  command = "npm run build:client"

  # 3. Use 'dist' (Since the base is 'client', this points to client/dist)
  publish = "dist"

[build.environment]
  # 4. Forces Vite installation
  NPM_CONFIG_PRODUCTION = "false"
  NODE_VERSION = "20"

[[redirects]]
  # 5. Fixed React Router Refresh Error
  from = "/*"
  to = "/index.html"
  status = 200
